# Virtual Environment
.venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# macOS
.DS_Store

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/

# Logs
*.log